<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Hero</title>

  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>
<body>
  <div id="app">
    <section class="columns">
      <div class="column is-4">
        <div class="card">
          <card-image :image="image"></card-image>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ name }}</p>
              </div>
            </div>
            <div class="content">
              <p>{{ description }}</p>
              <a :href="link" target="_blank">Google</a>
              <hr>
              {{ numberOfInterests }}
              <br>
              <span class="tag" v-for="interest in interests">{{ interest }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="field">
          <div class="control">
            <label>Name</label>
            <br>
            <input class="input" v-model="name">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label>Description</label>
            <br>
            <textarea class="textarea" v-model="description"></textarea>
          </div>
        </div>
        <hr>
        <h3>Add Interest</h3>
        <add-interest @change="addInterest"></add-interest>
      </div>
    </section>
  </div>

  <script type="text/javascript">
    Vue.component('card-image', {
      props: {
        image: String
      },
      template: `
        <div class="card-image">
          <div class="image is-4by3">
            <img :src="image">
          </div>
        </div>
      `
    })
    Vue.component('add-interest', {
      template: `
        <div class="field is-grouped">
          <div class="control">
            <input v-model="interest" class="input">
          </div>
          <div class="control">
            <button @click="addInterest" class="button">Add</button>
          </div>
        </div>
      `,
      data () {
        return {
          interest: null
        }
      },
      methods: {
        addInterest() {
          this.$emit('change', this.interest)
          this.interest = null
        }
      }
    })
    var app = new Vue({
      el: '#app',
      data: {
        name: 'Vue Hero',
        description: 'This is the description',
        image: "https://bulma.io/images/placeholders/1280x960.png",
        link: "https://www.google.com",
        interests: ['Vue', 'Js', 'HTML'],
        interest: null
      },
      computed: {
        numberOfInterests () {
          return 'Number of interests: ' + this.interests.length
        } 
      },
      methods: {
        addInterest (interest) {
          this.interests.push(interest)
        }
      }
    })
  </script>
</body>
</html>